.App {
	text-align: center;
}
.container-fluid {
	display: flex;
	justify-content: center;
}

form {
	display: flex;
	margin: 2rem;
	width: 30rem;
}

form input {
	margin: 0.5rem;
	width: 100%;
}

form button {
	margin: 0.5rem;
}

.todo-Container form {
	display: flex;
	align-items: center;
	justify-content: center;
}
